Gal3DEngine/bin
Gal3DEngine/obj
DanielFlappyGame/bin
DanielFlappyGame/obj
*.tmp
*.suo
*.pdb
DanielFlappyGame/obj/x86/Debug/DanielFlappyGame.pdb
*.pdb
DanielFlappyGame/obj/x86/Debug/DanielFlappyGame.exe